Classification of Gender from Kaggle Dataset : https://www.kaggle.com/datasets/elakiricoder/gender-classification-dataset

#Import

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [ ]:
gender_dataset = pd.read_csv('/content/gender_classification_v7.csv')

In [ ]:
gender_dataset.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female

In [ ]:
gender_dataset['gender'] = gender_dataset['gender'].replace(['Male'],'0')
gender_dataset['gender'] = gender_dataset['gender'].replace(['Female'],'1')

In [ ]:
gender_dataset.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,0
1,0,14.0,5.4,0,0,1,0,1
2,0,11.8,6.3,1,1,1,1,0
3,0,14.4,6.1,0,1,1,1,0
4,1,13.5,5.9,0,0,0,0,1

# Input and Labels

In [ ]:
X = gender_dataset.drop(columns = 'gender', axis=1)
Y = gender_dataset['gender']

In [ ]:
print(X)

      long_hair  forehead_width_cm  forehead_height_cm  nose_wide  nose_long  \
0             1               11.8                 6.1          1          0
1             0               14.0                 5.4          0          0
2             0               11.8                 6.3          1          1
3             0               14.4                 6.1          0          1
4             1               13.5                 5.9          0          0
...         ...                ...                 ...        ...        ...
4996          1               13.6                 5.1          0          0
4997          1               11.9                 5.4          0          0
4998          1               12.9                 5.7          0          0
4999          1               13.2                 6.2          0          0
5000          1               15.4                 5.4          1          1

      lips_thin  distance_nose_to_lip_long
0             1                          1
1             1                          0
2             1                          1
3             1                          1
4             0                          0
...         ...                        ...
4996          0                          0
4997          0                          0
4998          0                          0
4999          0                          0
5000          1                          1

[5001 rows x 7 columns]

In [ ]:
print(Y)

0       0
1       1
2       0
3       0
4       1
       ..
4996    1
4997    1
4998    1
4999    1
5000    0
Name: gender, Length: 5001, dtype: object

# Standardise Data

In [ ]:
scaler = StandardScaler()
scaler.fit(X)
standardized_data = scaler.transform(X)
print(standardized_data)

[[ 0.38719442 -1.24793291  0.28397148 ... -1.01592361  1.01389375
   1.00220198]
 [-2.58268182  0.73938869 -1.00941773 ... -1.01592361  1.01389375
  -0.99780285]
 [-2.58268182 -1.24793291  0.65351125 ...  0.98432598  1.01389375
   1.00220198]
 ...
 [ 0.38719442 -0.25427211 -0.45510807 ... -1.01592361 -0.98629664
  -0.99780285]
 [ 0.38719442  0.01672629  0.46874136 ... -1.01592361 -0.98629664
  -0.99780285]
 [ 0.38719442  2.00404789 -1.00941773 ...  0.98432598  1.01389375
   1.00220198]]

# Split training and test data

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_test.shape, X_train.shape)

(5001, 7) (1001, 7) (4000, 7)

# Training model

In [ ]:
classifier = svm.SVC(kernel='rbf')

In [ ]:
classifier.fit(X_train, Y_train)

SVC()

# Accuracy

In [ ]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.97275

In [ ]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.9660339660339661